<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L&R</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel='stylesheet' href='dist/style.css'>
</head>

<body background="img/back.jpg">
    <div class="header">
        <div class="header-panel">
            <div class="header-search">
                <div class="header-search-prepend">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <input type="text" class="input input-search" placeholder="Search goods...">
            </div>
            <div class="header-logo">
                <img src="img/Logo.png" class="header-log">
            </div>
            <div class="header-links">
                <a href="index.html" class="header-link">
                    <i class="fas fa-home"></i>Home
                </a>
                <div class="dropdown">
                    <img src="img/111.jpg" class="header-avatar">
                    <div class="dropdown-content">
                        <ul>
                            <li class="dropdown-item">
                                <a href="">
                                    <i class="far fa-plus-square"></i>
                                    <a href="createarticle.html" class="dropdown-item ">Add a note </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="">
                                    <i class="fas fa-pencil-alt"></i>
                                    <a href="editarticle.html" class="dropdown-item ">Edit a note </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <a href="" class="dropdown-item ">Exit</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <img src="img/111.jpg" class="header-avatar">
                    <div class="dropdown-content">
                        <ul>
                            <li class="dropdown-item">
                                <a href="">
                                    <i class="far fa-plus-square"></i>
                                    <a href="createarticle.html" class="dropdown-item ">Add a note </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="">
                                    <i class="fas fa-pencil-alt"></i>
                                    <a href="editarticle.html" class="dropdown-item ">Edit a note </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="">
                                    <i class="fas fa-clipboard-check"></i>
                                    <a href="" class="dropdown-item ">Confirmation of articles</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <a href="" class="dropdown-item ">Exit</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <img src="img/111.jpg" class="header-avatar">
                    <div class="dropdown-content">
                        <li class="dropdown-item">
                            <a href="">
                                <i class="far fa-plus-square"></i>
                                <a href="createarticle.html" class="dropdown-item ">Add a note </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="">
                                <i class="fas fa-pencil-alt"></i>
                                <a href="editarticle.html" class="dropdown-item ">
                                    Edit a note </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="">
                                <i class="fas fa-clipboard-check"></i>
                                <a href="" class="dropdown-item ">Confirmation of articles</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="">
                                <i class="fab fa-amilia"></i>
                                <a href="admin.html" class="dropdown-item">
                                    Admin ïàíåëü</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="">
                                <i class="fas fa-sign-out-alt"></i>
                                <a href="" class="dropdown-item ">Exit</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <nav class="header-menu">
        </nav>
    </div>
    <div class="content">
        <form>
            <div class="row-100">
                <button>
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <input type="text" placeholder="Íàçâàíèå" />
                <select>
                    <option>5?</option>
                    <option>4?</option>
                    <option>3?</option>
                    <option>2?</option>
                    <option>1?</option>
                </select>
            </div>
            <div class="row-100">
                <button><i class="fas fa-pencil-alt"></i></button>
                <textarea></textarea>
            </div>
            <div class="row-100">
                <button>
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <input type="number" />
            </div>
            <div class="row-100">
                <input class="mw-50" type="file" />
            </div>
            <div class="row-100">
                <input type="checkbox">
                <label>Çàâòðàê</label>
            </div>
            <div class="row-100">
                <input type="checkbox">
                <label>Wi-Fi</label>
            </div>
            <div class="row-100">
                <button>
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <input type="text" placeholder="Àäðåñ" />
                <button>
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <input type="text" placeholder="Òåëåôîí" />
            </div>
            <div class="row-100">
                <button class="btn btn-default" type="submit">Submit</submit>
                    <button class="btn btn-default" type="reset">Reset</submit>
            </div>
        </form>
    </div>
    <div class="footer">
        <div class="footer-links">
            <div class="footer-link">
                <span> © All rights reserved</span>
            </div>
            <div class="footer-link">
                <span>Support</span>
                <a href "" class="link">luxr@gmail.com</a>
                <a href=http://vk.com/? target=_blank rel=nofollow class="link">
                    <i class="fab fa-vk"></i>
                </a>
                <a href=http://twitter.com/? target=_blank rel=nofollow class="link">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="dist/bundle.js"></script>
    <script type="text/javascript" src="src/js/slideshow.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
        var slider = document.getElementById("priceSlider");
        var output = document.getElementById("sliderValue");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function () {
            output.innerHTML = this.value;
        }</script>
</body>

</html>





<h1>Editing hotel</h1>
 
<%= form_with(model: @hotel, local: true) do |form| %>
 
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@hotel.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @hotel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :Заголовок %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :Описание %><br>
    <%= form.text_area :text %>
  </p>
   <p>
    <%= form.label :Рейтинг %><br>
    <%= form.text_area :rating %>
  </p>
    <p>
    <%= form.label :Завтрак %><br>
    <%= form.text_area :breakfast %>
  </p>
    <p>
    <%= form.label :Вайфай %><br>
    <%= form.text_area :wifi %>
  </p>
    <p>
    <%= form.label :Цена %><br>
    <%= form.text_area :price %>
  </p>
    <p>
    <%= form.label :Описание %><br>
    <%= form.text_area :text %>
  </p>
    <p>
    <%= form.label :Адрес %><br>
    <%= form.text_area :adres %>
  </p>
    <p>
    <%= form.label :Номер_бронирования %><br>
    <%= form.text_area :numder %>
  </p>
    <p>
    <%= form.label :Фото %><br>
    <%= form.text_area :photo %>
  </p>
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', hotels_path %>